// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  background: var(--buttonBackground);
  color: var(--buttonText);
  border: none;
  width: 100%;
  border-radius: var(--borderRadius);
  max-width: var(--buttonMaxWidth);
  height: $buttonHeight;
  line-height: $buttonHeight;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.24);
  padding: 0 $buttonHeight/ 3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: $buttonFontSize;

  &:active {
    transform: scale(0.99);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }

  &.type-flat-btn {
    box-shadow: none;
    border: 1px solid var(--buttonBackground);
  }

  &.variant-btn-icon,
  &.variant-btn-icon-round {
    width: $buttonHeight;
    padding: 0;
  }

  &.variant-btn-icon-round {
    border-radius: 50%;
  }

  &.appearance-btn-warn {
    background: var(--buttonBackgroundWarn);
    border: 1px solid var(--buttonBackgroundWarn);

    &:hover,
    &:focus {
      background: var(--buttonActiveWarn);
    }
  }

  &[disabled] {
    color: var(--buttonDisabledText);
    background: var(--buttonDisabledBackground);
    @extend .no-pointer-events;
  }

  svg {
    height: $buttonHeight;
    line-height: $buttonHeight;
    width: 20px;
    height: $buttonHeight;
    line-height: $buttonHeight;
    stroke: var(--background);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    background: var(--buttonActive);
  }

  &.btn-inverted {
    background: var(--buttonText);
    border: 1px solid var(--buttonBackground);
    color: var(--buttonBackground);

    svg {
      stroke: var(--buttonBackground);
    }
  }
}
