@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Poppins:400');

/// Regular font family
/// @type List
$text-font-stack: 'Poppins', sans-serif, 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  small: 480px,
  medium: 700px,
  large: 1024px,
);

// Recommended
$type-base-size: 1rem;
$type-ratios: (
  'minorSecond': 1.067,
  'majorSecond': 1.125,
  'minorThird': 1.2,
  'majorThird': 1.25,
  'perfectFourth': 1.333,
  'augmentedFourth': 1.414,
  'perfectFifth': 1.5,
  'goldenRatio': 1.618,
);

// Select by key of map, or use a custom value
$type-size-ratio: map-get($type-ratios, 'minorSecond');

// List in descending order to prevent extra sort function
// Limited to high-touch heading styles
$type-levels: 6, 5, 4, 3, 2, 1;

$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 18px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$borderRadius: 5px;
$table-padding-large: 18px 0;
$table-padding-small: 4px 0;
$table-header-fontSize: 0.8rem;

// button

$buttonHeight: 35px;
$buttonMaxWidth: 250px;
$buttonFontSize: 1.1rem;

// colors

$white: #fff;
$linkWater: #f4f7fc;
$shuttleGrey: #5a606b;
$dodgerBlue: #248ef0;
$denim: #0d74d3;
$mantee: #8c929c;
$azureVariance: #0d83f3;
$whiteLilac: #fafbfd;
$seaShell: #f1f1f1;
$jumbo: #8a8a8b;
$silver: #bbbbbb;
$athensGray: #030305;
$ghost: #cacfd5;
$ebonyClay: #202738;
$orange: #fc5022;
$trinidad: #e03406;
