<style>
  .sb-show-main {
    background-color: inherit;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelector(':root').classList.add('theme-light')
  })
</script>
