$base-theme-params: (
  background: $whiteLilac,
  backgroundActiveArea: $linkWater,
  backgroundSideNav: $white,
  // text
  text: $shuttleGrey,
  textLight: $mantee,
  textDisabled: $ghost,
  // button
  buttonText: $white,
  buttonBackground: $dodgerBlue,
  buttonActive: $denim,
  buttonBackgroundWarn: $orange,
  buttonActiveWarn: $trinidad,
  buttonDisabledText: $white,
  buttonDisabledBackground: $silver,
  buttonMaxWidth: $buttonMaxWidth,
  //headings
  headings: $ebonyClay,
  // links
  link: $dodgerBlue,
  linkHover: $azureVariance,
  borderRadius: $borderRadius,
  tableBorder: $seaShell,
  tableText: $jumbo,
  tableHeader: $silver,
  tablePaddingLarge: $table-padding-large,
  tablePaddingSmall: $table-padding-small,
  tableRowBorder: $athensGray,
  tableHeaderFontSize: $table-header-fontSize,
);

$base-theme-dark-params: (
  background: #000,
  backgroundActiveArea: $linkWater,
  backgroundSideNav: $white,
  // text
  text: $shuttleGrey,
  textLight: $mantee,
  textDisabled: $ghost,
  // button
  buttonText: $white,
  buttonBackground: $dodgerBlue,
  buttonActive: $azureVariance,
  buttonWarnBackground: $dodgerBlue,
  buttonDisabledText: $white,
  buttonDisabledBackground: $silver,
  //headings
  headings: $ebonyClay,
  // links
  link: $dodgerBlue,
  linkHover: $azureVariance,
  borderRadius: $borderRadius,
  tableBorder: $seaShell,
  tableText: $jumbo,
  tableHeader: $silver,
  tablePaddingLarge: $table-padding-large,
  tablePaddingSmall: $table-padding-small,
  tableRowBorder: $athensGray,
  tableHeaderFontSize: $table-header-fontSize,
);

@mixin set-theme-params($themeParams, $themeClassName) {
  $theme: map-merge($themeParams, $base-theme-params);

  :root.theme-#{$themeClassName} {
    @each $key, $value in $theme {
      --#{$key}: #{$value};
    }
  }
}
